<div class="container">
  <!-- For demo purpose -->
  <div class="row py-5">
    <div class="col-lg-9 mx-auto text-white text-center">
      <h1 class="display-4 text-danger">Github profile search <span><button class="rounded-circle btn btn-danger">{{count}}</button></span></h1>
      <p class="lead mb-0 text-primary">built with github api and angular</p>
      <p class="lead text-dark">Developed by <a target="_blank" href="https://www.linkedin.com/in/subratahalder97/" class="text-info">
        <u>Subrata Halder</u></a>
      </p>
    </div>
  </div>
  <!-- End -->


  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
        <form>
          <div class="p-1 bg-light rounded rounded-pill shadow mb-4">
            <div class="input-group px-5">
              <input  [(ngModel)]="searchString" name="searchString" type="search" placeholder="Search by profile name" aria-describedby="button-addon2" class="form-control border-0 bg-light">
            </div>
          </div>
          <div class="d-flex">
            <button class="btn btn-primary shadow rounded-pill mx-auto" type="button" (click)="search()">Search</button>
          </div>
        </form>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <p class="text-center">{{searchString}}</p>
    </div>
  </div>
  <div class="row mb-5 d-flex">
    <div class="col mx-auto">
      <p class="text-center text-danger">{{msg}}</p>
    </div>
  </div>

  <app-app-users [users]="users"></app-app-users>

</div>
