<!--navbar-->
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container m-0 p-0">
      <a class="navbar-brand" href="#"><img src="./assets/logo.png" width="50px" alt="logo"><span class="text-dark">Github Search</span></a>
      <!--    <a class="navbar-brand" href="#">Github Profile Search</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<app-app-footer></app-app-footer>


